/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

html {
    /* opacity: 0; */
}

.statusbar-overlay {
    background: #000000;
}


.tester {
    margin: 50px auto;

}
.navbar-fixed .page-content, .navbar-through .page-content {
    padding: 15px;
    background-color: #f9f9f9;
}
.content-block {
    padding: 0;
    margin-bottom: 75px;
}

.md .navbar {
    height: 56px;
    background-color: #D0D3D5;
    color: #fff;
    font-size: 20px;
}

.sliding{
    margin-left: auto;
	margin-right: auto;
	display: block;
}
.navbar img{
    margin-bottom: 10px;
}

/* toolbar */
.toolbar{
    background-color: #fff;
    box-shadow: 0px 0px 5px #D0D3D5;
    height: 70px !important;
    position: absolute;
    bottom: 0;
    top: auto !important;
}
.navbar-inner, .toolbar-inner {
    justify-content: space-around;
}
.toolbar .toolbar-inner a {
    height: auto;
    width: auto;
}
.toolbar .toolbar-inner a img{
    height: 50px;
    width: 50px;
}
.fab-right-bottom {
    bottom: 100px !important;
}

.md .toolbar {
    background-color: #FFAAA6;
    height: 48px;
    color: #fff;
    font-size: 14px;
    top: 0;
}

/*forside.html*/
.forsideimg{
width: 100%;
height: auto;
}
.hide-when-logged-in {
    display: none;
}

.forside {
    background-color: white;
} 

.iconWrapper{
    margin-top:10%;
}
.iconWrapper h1{
    text-align: center;
}
.icons{
    padding-bottom: 20px;
}

.login-screen-content{
    background-color: white;
}
/*Index.html*/
.searchbar-top{
    margin: 0;
    padding: 0;
}
.itemRow{
    margin-bottom: 10px 
}

.showcaseitem{
    height: 300px;
    width: auto;
    border: 1px solid #e9e9e9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: contain;
    background-position: center;
    color: #fff;
    background-repeat: no-repeat;
  }
  .demo-card-header-pic .card-content-padding .date{
    color: #8e8e93;
  }

  .md .card {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 5px 6px 1px -1px rgba(0, 0, 0, 0.2), 0px 3px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}


.introcard{
    height: 175px;
}
.avaterCard{
    height: 200px;
}

.btnWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

#domæne {
    font-family: Frederic;
}

.btnWrapper p{
text-align: center;
text-justify: auto;
}


.btnWrapper .button{
    height: 40px;
    width: 100px;
}
.imagePlaceholder{
    height:225px;
    width: 100%;
}
.imagePlaceholder img{
    width: 100%;
    height: 100%;
}
.itemText{
    background-color: white;
    margin-top: -10px;
    margin-top: -10px;
    padding: 0;

    height: 75px;
}
.itemText h5{
    margin: 5px;
}

.textWrapper{
    margin-top: 10px;
}

.ItemShowcase{
    background-color: white; 
}

.md .navbar ~ * .page-content, .md .navbar ~ .page-content {
    padding-top: 56px;
    padding-bottom: 100px;
}

.md .block-strong {
    padding: 0px;
    background-color: white;
}

.md .block {
   margin: 0;
    padding: 0 16px;
}

/*about.html*/
.addItemRow{
    margin-top: 20px;
   
}

.profile h4{
    text-align: center
}
.profilbillede{
    height: auto;
    width: 100%;
}

.avatar-profilbillede {
    height: auto;
    width: 100%;
    margin-top: 10px;
}

.addItem img{
   
    height: auto;
    width: 100%;
}


/*Sale html*/

.list input{
    width: 100%;
}
.list textarea {
    width: 100%;
}

.item-input-wrap input{
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}

.button.button-fill {
    color: black;
    background: #fff;
    border: none;
margin-top: 10px;
}

.qr{
    width: 100%;
    height: auto;

}

/*create listing*/

.md .button.button-fill, .md .button.button-fill-md, .md .button.button-active, .md .button.tab-link-active {
    background-color: #FFAAA6;
    color: #fff;
}